* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Utils */

/* ------>> */

:root {
  --nav-height: 8vh;
  --font-main: "Source Code Pro", monospace;
  --font-sec: "Nunito", sans-serif;
  --font-ter: "Dancing Script", cursive;
  --font-qad: "Kalam", cursive;
  --nav-bg-color: #cbddd1;
  --background-colr1: rgb(212, 232, 217);
  --text-col-g: rgb(14, 69, 39);
  --text-col-db: rgb(6, 18, 42);
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wh100 {
  width: 100%;
  height: 100%;
}

/* xx------xx  */

/* Components */
nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--nav-height);
  width: 100vw;
  z-index: 1;
  background-color: var(--nav-bg-color);
}

.logo {
  padding-left: 10vw;
}
.normalNavC {
  gap: 1rem;
  padding-right: 10vw;
}

.openMobNavC {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #cbddd1;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.closeNavC {
  display: none;
}

.navBtn {
  padding: 0.5rem 0.5rem;
  font-family: var(--font-main);
  font-size: 1.05rem;
  height: 100%;
}
.clBtn {
  color: rgb(168, 26, 26);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

#loginBtn {
  border: none;
  background-color: transparent;
}

#loginBtn:hover {
  cursor: pointer;
}

.navBtn:hover {
  cursor: default;
  box-shadow: 0px 4px 0px 0px rgb(17, 165, 84);
  transition: 0.3s ease-out all;
}

#topbarMenu {
  display: none;
}

@media only screen and (max-width: 450px) {
  nav {
    justify-content: space-between;
  }
  nav div {
    padding: 0 1rem;
  }
  #topbarMenu {
    display: block;
  }
  .clBtn {
    display: flex;
  }
}

/* Login Pop-Up */

#LoginBox {
  display: none;
}

.LoginWrapper {
  position: fixed;
  top: 20vh;
  left: 20vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: fit-content;
  padding: 1rem;
  background-color: #cbddd1;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  font-family: var(--font-main);
}
.LoginBnr {
  font-size: 2rem;
}
.LoginWrapper div {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.LoginWrapper div input {
  padding: 1rem;
  box-sizing: border-box;
  border: none;
  width: 70%;
}

.LoginWrapper div button {
  width: 70%;
  padding: 1rem;
  font-size: 1rem;
}

.LoginWrapper a {
  text-decoration: none;
  color: var(--text-col-g);
  font-size: 1rem;
}

.LoginWrapper div input:focus-visible {
  outline: none;
}
@media only screen and (max-width: 640px) {
}
#closeBtn {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding-right: 1rem;
  right: 0;
  top: 0;
}

/* ----->><<----- */

#sec1 {
  background-image: url("/images/landingPic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: var(--nav-height); */
}

.slogan {
  width: max-content;
  display: flex;
  flex-direction: column;
  font-family: var(--font-ter);
  font-weight: 700;
  color: rgb(17, 129, 67);
  padding: 1rem;
  font-size: calc(2rem + 7vw);
  text-align: center;
  /* margin-bottom: 5vh; */
}

.triCol {
  width: 100%;
  height: 100%;
  display: flex;
}

#sp1,
#sp2,
#sp3 {
  width: 100%;
  height: 5px;
}

#sp1 {
  background-color: orangered;
}
#sp2 {
  background-color: rgb(178, 230, 237);
}
#sp3 {
  background-color: rgb(11, 210, 11);
}

.sec {
  /* padding: 1rem 0; */
  position: relative;
  width: 100%;
  height: calc(100vh - var(--nav-height));
}

.tilesContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 10vh;
}

.tiles {
  font-family: var(--font-sec);
  display: grid;
  text-align: center;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  place-items: center;
  width: 100%;
  height: 20vh;
  background-color: rgba(245, 245, 245, 0.277);
  border-radius: 4px;
  backdrop-filter: blur(1px);
}

.tiles p {
  font-size: calc(0.5rem + 0.5vw);
  font-weight: 600;
  padding: 0.5rem;
  color: var(--text-col-g);
}

.tiles button {
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  height: 100%;
  border: none;
  background: #ff7600;
  color: antiquewhite;
  font-size: calc(8px + 0.5vw);
}

/* responisve design */
@media only screen and (max-width: 640px) {
  .slogan {
    margin-bottom: 2rem;
  }
  .tilesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 0;
  }
  .tiles {
    display: flex;
    height: 8vh;
    width: 100%;
  }
  .tiles p {
    display: none;
  }
  .tiles button {
    font-size: 1.2rem;
    border-radius: 4px;
    width: 100%;
    height: 100%;
  }
}

/* section 2 => Destinations */

#sec2 {
  background-color: var(--background-colr1);
  font-family: var(--font-ter);
  text-align: center;
  display: grid;
  align-content: flex-start;
  justify-items: center;
  grid-template-rows: auto(1fr);
  gap: 1rem;
  height: max-content;
}

#sec2Title {
  margin: 1rem 0;
  color: var(--text-col-g);
  font-size: calc(1.7rem + 2vw);
  font-weight: 700;
  width: 100%;
}

.destCont {
  width: 100%;
  display: grid;
  grid-template-rows: auto(1fr);
  place-items: center;
  gap: 2rem;
}

.destTile p {
  font-family: var(--font-qad);
  font-size: calc(0.6rem + 1.5vw);
  color: var(--text-col-db);
  padding: 0 1rem;
}

.destCont img {
  width: 100%;
  height: 100%;
}

.destTile {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: inherit;
  gap: 1rem;
}

@media only screen and (min-width: 640px) {
  .destCont {
    width: 100%;
    gap: 10vh;
  }
  #sec2Title {
    margin: 8vh 0;
  }

  .destTile {
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto(1fr);
    place-items: center;
    gap: 1rem;
  }
  .destTile p {
    font-size: calc(10px + 1vw);
    text-decoration: underline #ff7600;
  }

  .destTile img {
    aspect-ratio: 16/10;
  }

  #tile1 p {
    grid-column: span 2;
  }
  #tile4 p {
    grid-column: span 2;
  }
  #tile6 p {
    grid-column: span 2;
  }
}
